<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {% block title %}
        
        {% endblock title %}
    </title>
</head>
<body>
    <nav>
        <ul>
            <li><a href="/home"> Home </a></li>
            <li><a href="/cor1"> Python </a></li>
            <li><a href="/cor2"> Java </a></li>
        </ul>
    </nav>
{% comment %} welcome message {% endcomment %}
    {% block content %}
    
    {% endblock content %}

    <p>
        {% block c_name %}
        
        {% endblock c_name %}

        {% block c_details %}
        
        {% endblock c_details %}

    </p>

</body>
</html>